@use "./resets" as *;
@use "./fonts" as *;
@use "./variables" as *;
@use "./breakpoints" as *;

.comment-section {
  padding: 0.5rem 1rem 1rem 1rem;

  @include media-tablet {
    padding: 0.75rem 2.25rem 2.25rem 2.25rem;
  }

  @include media-desktop {
    padding: 0.75rem 5rem 2.25rem 5rem;
  }

  &__title {
    @include mobile-section-header;
    padding-bottom: 1rem;

    @include media-tablet {
      @include tablet-section-header;
      padding-top: 0;
    }
  }
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid $bandsite-mercury;

  @include media-tablet {
    padding: 2.25rem;
  }

  @include media-desktop {
    padding: 2.25rem 0;
    margin: 0 20rem;
  }

  &__icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-top: 27px;
    background-image: url(/assets/images/Mohan-muruge.jpg);
    background-size: cover;
    flex: 0 0 auto;

    @include media-tablet {
      width: 48px;
      height: 48px;
    }
  }

  &__fields {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 1rem;
  }

  &__input {
    padding: 0.75rem;
    min-height: 2.25rem;
    border: 1px solid $bandsite-mercury;
    border-radius: 4px;
    margin-bottom: 1rem;
    @include mobile-body-copy;
    color: $bandsite-black;

    @include media-tablet {
      min-height: 3rem;
      padding: 1rem;
      margin-bottom: 2.25rem;
      @include tablet-body-copy;
    }
  }

  textarea,
  input {
    background-color: $bandsite-alabaster;
  }

  textarea:active,
  input:active {
    border: 1px solid $bandsite-black;
    background-color: $bandsite-white;
  }

  // textarea:invalid, input:invalid {
  //   border: 1px solid #D22D2D;
  // }

  &__button {
    height: 2.5rem;
    background-color: $bandsite-black;
    border-radius: 4px;
    border: none;
    @include mobile-label-button;
    color: $bandsite-white;
    cursor: pointer;

    @include media-tablet {
      width: 30%;
      align-self: flex-end;
      @include tablet-label-button;
      color: $bandsite-white;
    }
  }

  &__button:hover {
    background-color: $bandsite-dark-black;
  }
}

label {
  padding-bottom: 4px;
  @include mobile-label-button;
  color: $bandsite-silver;

  @include media-tablet {
    @include tablet-label-button;
    color: $bandsite-silver;
  }
}

::placeholder {
  color: $bandsite-black;
}

.comments {
  display: flex;
  flex-direction: column-reverse;
}

.comment {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 1rem 0;
  border-bottom: 1px solid $bandsite-mercury;

  @include media-tablet {
    padding: 2.25rem;
  }

  @include media-desktop {
    padding: 2.25rem 0;
    margin: 0 20rem;
  }

  &__icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    flex: 0 0 auto;
    background-color: $bandsite-mercury;

    @include media-tablet {
      width: 48px;
      height: 48px;
    }
  }

  &__main {
    width: 100%;
    margin-left: 1rem;
  }

  &__main-namedate {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 0.5rem;
  }

  &__name {
    @include mobile-body-copy;
    font-weight: bold;

    @include media-tablet {
      @include tablet-body-copy;
      font-weight: bold;
    }
  }

  &__date {
    @include mobile-body-copy;
    color: $bandsite-silver;

    @include media-tablet {
      @include tablet-body-copy;
      color: $bandsite-silver;
    }
  }

  &__text {
    @include mobile-body-copy;

    @include media-tablet {
      @include tablet-body-copy;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
  }

  &__like {
    display: flex;

    &-button {
      background-image: url("/assets/icons/icon-like.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 1rem;
      height: 1rem;
      border: none;
      background-color: $bandsite-white;
      cursor: pointer;
    }

    &-count {
      @include mobile-body-copy;
      display: flex;
      justify-self: flex-start;
      padding-left: 0.5rem;

      @include media-tablet {
        @include tablet-body-copy;
      }
    }
  }

  &__delete {
    background-image: url("/assets/icons/icon-delete.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 1rem;
    height: 1rem;
    border: none;
    background-color: $bandsite-white;
    cursor: pointer;
  }
}