//Font Size Resets
html {
    font-size: 100%;
  }
  p,
  h6 {
    font-size: 1rem;
  }
  h5 {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 1.96rem;
  }
  h3 {
    font-size: 2.74rem;
  }
  h2 {
    font-size: 3.84rem;
  }
  h1 {
    font-size: 5.38rem;
  }

//Importing Fonts
@font-face {
  font-family: AvenirNext;
  src: url("/assets/fonts/AvenirNextLTPro-Regular.otf") format("OpenType");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: AvenirNext;
  src: url("/assets/fonts/AvenirNextLTPro-Demi.otf") format("OpenType");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: AvenirNext;
  src: url("/assets/fonts/AvenirNextLTPro-Bold.otf") format("OpenType");
  font-style: normal;
  font-weight: 700;
}


@mixin regular-text($color, $font-size) {
    font-family: AvenirNext;
    font-style: normal;
    font-weight: 400;
    color: $color;
    font-size: $font-size;
}

@mixin demi-text($color, $font-size) {
    font-family: AvenirNext;
    font-style: normal;
    font-weight: 600;
    color: $color;
    font-size: $font-size;
}

@mixin bold-text($color, $font-size) {
    font-family: AvenirNext;
    font-style: normal;
    font-weight: 700;
    color: $color;
    font-size: $font-size;
}

.description__text, .header__links {
    @include regular-text(black, 1rem)
}

.gallery__title, .about__title, .footer__title, .hero__title, .header__title {
    @include bold-text(black, 1.5rem);
    line-height: 32px;
}

.description__subtitle {
    @include demi-text(black, 1rem)
}

.about__qoute, .about__qoute-author {
    @include bold-text(black, 1rem)
}