@use "./variables" as *;

//Font Size Resets
html {
  // font-size: 100%;
  font-size: 16px;
}

//Importing Fonts
@font-face {
  font-family: "AvenirNext";
  src: url("/assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"), 
  url("/assets/fonts/AvenirNextLTPro.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "AvenirNext";
  src: url("/assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype"),
  url("/assets/fonts/AvenirNextLTProDemi.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "AvenirNext";
  src: url("/assets/fonts/AvenirNextLTPro-Bold.otf") format("OpenType"),
  url("/assets/fonts/AvenirNextLTProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

// Setting Text Styles
@mixin regular-text($color, $font-size) {
  font-family: "AvenirNext";
  font-style: normal;
  font-weight: 400;
  color: $color;
  font-size: $font-size;
}

@mixin demi-text($color, $font-size) {
  font-family: AvenirNext;
  font-style: normal;
  font-weight: 600;
  color: $color;
  font-size: $font-size;
}

@mixin bold-text($color, $font-size) {
  font-family: AvenirNext;
  font-style: normal;
  font-weight: 700;
  color: $color;
  font-size: $font-size;
}

//Text Styles
//Mobile
@mixin mobile-page-header {
  @include bold-text($bandsite-white, 1.5rem);
  line-height: 2rem;
}

@mixin mobile-section-header {
  @include bold-text($bandsite-black, 1.5rem);
  line-height: 2rem;
}

@mixin mobile-subheader {
  @include demi-text($bandsite-black, 0.875rem);
  line-height: 1.375rem;
}

@mixin mobile-body-copy {
  @include regular-text($bandsite-black, 0.8125rem);
  line-height: 1.125rem;
}

@mixin mobile-footer-copy {
  @include regular-text($bandsite-white, 0.8125rem);
  line-height: 1.125rem;
}

@mixin mobile-label-button {
  @include bold-text($bandsite-black, 0.625rem);
  line-height: 1.25rem;
}

//Desktop & Tablet
@mixin tablet-page-header {
  @include bold-text($bandsite-white, 3.75rem);
  line-height: 4.25rem;
}

@mixin tablet-section-header {
  @include bold-text($bandsite-black, 2.25rem);
  line-height: 2.75rem;
}

@mixin tablet-subheader {
  @include demi-text($bandsite-black, 1.5rem);
  line-height: 2rem;
}

@mixin tablet-body-copy {
  @include regular-text($bandsite-black, 0.875rem);
  line-height: 1.375rem;
}

@mixin tablet-footer-copy {
  @include regular-text($bandsite-white, 0.875rem);
  line-height: 1.25rem;
}

@mixin tablet-label-button {
  @include bold-text($bandsite-black, 0.75rem);
  line-height: 1.25rem;
}
