//Primary Colors
$bandsite-black: #323232;
$bandsite-silver: #AFAFAF;
$bandsite-white: #FFFFFF;

//Secondary Colors
$bandsite-dark-black: #000000;
$bandsite-mercury: #E1E1E1;
$bandsite-alabaster: #FAFAFA;