* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  pointer-events: none style;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 16px;
}

@font-face {
  font-family: AvenirNext;
  src: url("/assets/fonts/AvenirNextLTPro-Regular.otf") format("OpenType");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: AvenirNext;
  src: url("/assets/fonts/AvenirNextLTPro-Demi.otf") format("OpenType");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: AvenirNext;
  src: url("/assets/fonts/AvenirNextLTPro-Bold.otf") format("OpenType");
  font-style: normal;
  font-weight: 700;
}
.header {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  background-color: #323232;
}
@media (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
}
.header__image {
  align-self: center;
  width: 120px;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .header__image {
    margin: 0.5rem 2.25rem;
  }
}
@media (min-width: 1280px) {
  .header__image {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 5rem;
    margin-right: 2.25rem;
  }
}
.header__links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-family: AvenirNext;
  font-style: normal;
  font-weight: 400;
  color: #323232;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: white;
}
.header__links li {
  display: flex;
  width: 50%;
  padding: 1rem 1.5rem;
  justify-content: center;
}
@media (min-width: 768px) {
  .header__links li {
    padding: 1.5rem 1.5rem;
  }
}
.header__links li:hover {
  border-bottom: 5px solid lightblue;
}

.active-link {
  border-bottom: 5px solid white;
}

.hero {
  background-image: linear-gradient(hsla(0, 0%, 20%, 0.5), hsla(0, 0%, 20%, 0.5)), url("../assets/images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  height: 25vh;
  display: flex;
}
@media (min-width: 768px) {
  .hero {
    height: 33vh;
  }
}
.hero__title {
  align-self: center;
  padding-left: 1rem;
  font-family: AvenirNext;
  font-style: normal;
  font-weight: 700;
  color: #FFFFFF;
  font-size: 1.5rem;
  line-height: 2rem;
}
@media (min-width: 768px) {
  .hero__title {
    font-family: AvenirNext;
    font-style: normal;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 3.75rem;
    line-height: 4.25rem;
    padding-left: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .hero__title {
    padding-left: 5rem;
  }
}

.about {
  padding-top: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 768px) {
  .about {
    padding: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .about {
    padding: 2.25rem 5rem;
  }
}
.about__title {
  font-family: AvenirNext;
  font-style: normal;
  font-weight: 700;
  color: #323232;
  font-size: 1.5rem;
  line-height: 2rem;
}
@media (min-width: 768px) {
  .about__title {
    font-family: AvenirNext;
    font-style: normal;
    font-weight: 700;
    color: #323232;
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding-top: 0.75rem;
  }
}
.about__image {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .about__image {
    padding: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .about__image {
    padding: 2.25rem 5rem;
  }
}
.about__qoute {
  font-family: AvenirNext;
  font-style: normal;
  font-weight: 600;
  color: #323232;
  font-size: 0.875rem;
  line-height: 1.375rem;
  line-height: 1.5rem;
}
@media (min-width: 768px) {
  .about__qoute {
    padding: 1rem 2.25rem;
    font-family: AvenirNext;
    font-style: normal;
    font-weight: 600;
    color: #323232;
    font-size: 1.5rem;
    line-height: 2rem;
    line-height: 2rem;
  }
}
@media (min-width: 1280px) {
  .about__qoute {
    padding: 1rem 5rem;
  }
}
.about__qoute-author {
  font-family: AvenirNext;
  font-style: normal;
  font-weight: 600;
  color: #323232;
  font-size: 0.875rem;
  line-height: 1.375rem;
  line-height: 1.5rem;
}
@media (min-width: 768px) {
  .about__qoute-author {
    padding-left: 2.25rem;
    font-family: AvenirNext;
    font-style: normal;
    font-weight: 400;
    color: #323232;
    font-size: 0.875rem;
    line-height: 1.375rem;
    line-height: 2rem;
    font-size: 1.1rem;
    font-weight: 600;
  }
}
@media (min-width: 1280px) {
  .about__qoute-author {
    padding-left: 5rem;
  }
}

.description {
  padding-top: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .description {
    padding-top: 0;
    padding-right: 4.5rem;
    padding-bottom: 2.25rem;
    padding-left: 4.5rem;
  }
}
@media (min-width: 1280px) {
  .description {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}
.description__subtitle {
  padding-bottom: 1rem;
  font-family: AvenirNext;
  font-style: normal;
  font-weight: 600;
  color: #323232;
  font-size: 0.875rem;
  line-height: 1.375rem;
}
@media (min-width: 768px) {
  .description__subtitle {
    font-family: AvenirNext;
    font-style: normal;
    font-weight: 600;
    color: #323232;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
.description__text {
  display: flex;
  flex-direction: column;
  font-family: AvenirNext;
  font-style: normal;
  font-weight: 400;
  color: #323232;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media (min-width: 768px) {
  .description__text {
    flex-direction: row;
    font-family: AvenirNext;
    font-style: normal;
    font-weight: 400;
    color: #323232;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

@media (min-width: 768px) {
  .description__text :first-child {
    padding-right: 1.125rem;
  }
}

@media (min-width: 768px) {
  .description__text :nth-child(3) {
    padding-left: 1.125rem;
  }
}

.gallery {
  padding-top: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #fafafa;
}
@media (min-width: 768px) {
  .gallery {
    padding: 2.25rem 1.5rem;
  }
}
@media (min-width: 1280px) {
  .gallery {
    padding: 2.25rem 4.25rem;
  }
}
.gallery__title {
  padding-bottom: 1rem;
  font-family: AvenirNext;
  font-style: normal;
  font-weight: 700;
  color: #323232;
  font-size: 1.5rem;
  line-height: 2rem;
}
@media (min-width: 768px) {
  .gallery__title {
    padding-bottom: 1.5rem;
    padding-left: 0.75rem;
    padding-top: 0.75rem;
    font-family: AvenirNext;
    font-style: normal;
    font-weight: 700;
    color: #323232;
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
.gallery__photos {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 768px) {
  .gallery__photos {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.gallery__item {
  width: 100%;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .gallery__item {
    width: 33%;
    padding: 0.75rem;
  }
}

.gallery__item {
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all 0.8s ease-in-out;
}

.gallery__item:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1);
}

.footer {
  background-color: #323232;
  padding-top: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  color: white;
}
@media (min-width: 768px) {
  .footer {
    flex-wrap: wrap;
    padding: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding: 2.25rem 5rem;
  }
}
@media (min-width: 768px) {
  .footer__one {
    display: flex;
    align-items: center;
  }
}
.footer__title {
  padding-bottom: 1rem;
  font-family: AvenirNext;
  font-style: normal;
  font-weight: 700;
  color: #323232;
  font-size: 1.5rem;
  line-height: 2rem;
  color: white;
}
@media (min-width: 768px) {
  .footer__title {
    padding-right: 2.25rem;
    padding-bottom: 0;
    font-family: AvenirNext;
    font-style: normal;
    font-weight: 700;
    color: #323232;
    font-size: 2.25rem;
    line-height: 2.75rem;
    color: white;
  }
}
.footer__icons {
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .footer__icons {
    padding: 0;
  }
}
.footer__icon {
  padding-right: 1rem;
}
.footer__contact {
  padding-bottom: 2rem;
}
@media (min-width: 768px) {
  .footer__contact {
    display: flex;
    padding: 2.25rem 0;
  }
}
.footer__copy {
  margin-bottom: 1.5rem;
  color: white;
  font-family: AvenirNext;
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media (min-width: 768px) {
  .footer__copy {
    padding-right: 2.25rem;
    font-family: AvenirNext;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
.footer__logo1 {
  width: 120px;
  display: none;
}
@media (min-width: 768px) {
  .footer__logo1 {
    display: flex;
    position: absolute;
    right: 2.25rem;
  }
}
.footer__logo2 {
  width: 120px;
  padding: 1rem 0;
}
@media (min-width: 768px) {
  .footer__logo2 {
    display: none;
  }
}/*# sourceMappingURL=bio.css.map */