@use "./partials/resets" as *;
@use "./partials/fonts" as *;
@use "./partials/variables" as *;
@use "./partials/breakpoints" as *;

.header {
  display: flex;
  flex-direction: column;
  background-color: $bandsite-black;
  padding: 1rem 0;

  @include media-tablet {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  &__image {
    align-self: center;
    width: 120px;

    @include media-tablet {
      margin: 0.5rem 2.25rem;
    }
  }

  &__links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
    @include mobile-body-copy;
    color: white;

    @include media-tablet {
      padding: 0;
    }
  }

  &__links li {
    @include media-tablet {
      padding: 0 1.5rem;
    }
  }
}

.hero {
  background-image: linear-gradient(hsla(0, 0%, 20%, 0.5), hsl(0, 0%, 20%, 0.5)),
    url("../assets/images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  height: 25vh;
  display: flex;

  @include media-tablet {
    height: 33vh;
  }

  &__title {
    align-self: center;
    padding-left: 1rem;
    @include mobile-page-header;

    @include media-tablet {
      @include tablet-page-header;
      padding-left: 2.25rem;
    }
  }
}

.about {
  padding-top: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;

  @include media-tablet {
    padding: 36px;
  }

  &__title {
    @include mobile-section-header;

    @include media-tablet {
      @include tablet-section-header;
    }
  }

  &__image {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;

    @include media-tablet {
      padding: 36px;
    }
  }

  &__qoute {
    @include mobile-subheader;
    line-height: 1.5rem;;

    @include media-tablet {
      padding: 0 36px;
      @include tablet-subheader;
      line-height: 2rem;
    }
  }

  &__qoute-author {
    @include mobile-subheader;
    line-height: 1.5rem;

    @include media-tablet {
      padding-left: 36px;
      @include tablet-body-copy;
      line-height: 2rem;
      font-size: 1.1rem;
      font-weight: 600;
    }
  }
}

.description {
  padding-top: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;

  @include media-tablet {
    padding: 36px 72px;
  }

  &__subtitle {
    padding-bottom: 1rem;
    @include mobile-subheader;

    @include media-tablet {
      @include tablet-subheader;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    @include mobile-body-copy;

    @include media-tablet {
      flex-direction: row;
      @include tablet-body-copy;
    }
  }
}

.gallery {
  padding-top: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #fafafa;

  @include media-tablet {
    padding: 36px 24px;
  }

  &__title {
    padding-bottom: 1rem;
    @include mobile-section-header;

    @include media-tablet {
      padding-bottom: 24px;
      padding-left: 12px;
      padding-top: 12px;
      @include tablet-section-header;
    }
  }

  &__photos {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include media-tablet {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__item {
    width: 100%;
    padding-bottom: 1rem;

    @include media-tablet {
      width: 33%;
      padding: 12px;
    }
  }
}

.footer {
  background-color: #323232;
  padding-top: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  color: white;

  @include media-tablet {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 2.25rem;
  }

  &__one {
    @include media-tablet {
      display: flex;
      align-items: center;
    }
  }

  &__title {
    padding-bottom: 1rem;
    @include mobile-section-header;
    color: white;

    @include media-tablet {
      padding-right: 2.25rem;
      padding-bottom: 0;
      @include tablet-section-header;
      color: white;
    }
  }

  &__icons {
    padding-bottom: 1rem;

    @include media-tablet {
      padding: 0;
    }
  }

  &__icon {
    padding-right: 1rem;
  }

  &__contact {
    padding-bottom: 2rem;

    @include media-tablet {
      display: flex;
      padding: 2.25rem 0;
    }
  }

  &__copy {
    margin-bottom: 1.5rem;
    color: white;
    @include mobile-footer-copy;

    @include media-tablet {
      padding-right: 36px;
      @include tablet-footer-copy;
    }
  }

  &__logo1 {
    width: 120px;
    display: none;

    @include media-tablet {
      display: flex;
      position: absolute;
      right: 36px;
    }
  }

  &__logo2 {
    width: 120px;
    padding: 1rem 0;

    @include media-tablet {
      display: none;
    }
  }
}
