@use "./partials/resets" as *;
@use "./partials/fonts" as *;
@use "./partials/variables" as *;
@use "./partials/breakpoints" as *;
@use "./partials/navbar" as *;
@use "./partials/footer" as *;

.hero {
  background-image: linear-gradient(hsla(0, 0%, 20%, 0.5), hsl(0, 0%, 20%, 0.5)),
    url("/assets/images/hero-shows.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  align-content: left;
  padding: 2rem 1rem 1rem 1rem;

  @include media-tablet {
    padding: 3rem 2rem 3rem 2rem;
  }

  @include media-desktop {
    display: flex;
    flex-direction: column;
    height: 35vh;
    align-items: left;
    padding: 5rem;
    justify-content: center;
  }

  &__box {
    @include media-desktop {
        display: flex;
        flex-direction: row;
        align-items: left;
    }
  }

  &__subtitle {
    @include mobile-body-copy;
    color: $bandsite-white;
    padding-bottom: 1.5rem;

    @include media-tablet {
        @include tablet-subheader;
        color: $bandsite-white;
    }

    @include media-desktop {
        justify-self: center;
    }
  }

  &__title {
    padding-bottom: 1rem;
    @include mobile-page-header;
    width: 65%;

    @include media-tablet {
      @include tablet-page-header;
    width: 80%;
    padding-bottom: 2.25rem;
    }

    @include media-desktop {
    width: 100%;
    padding-right: 5rem;
    }
  }

  &__song {
    @include media-tablet {
      padding-right: 20rem;
    }

    @include media-desktop {
        padding: 0 0 0 5rem;
        width: 100%;

    }
  }
}

.shows {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 1rem 1rem;

  @include media-tablet {
    padding: 0 1rem 2.25rem 1rem;
  }

  @include media-desktop {
    padding: 0 5rem 2.25rem 5rem;
  }

  &__title {
    @include mobile-section-header;
    padding-top: 1.5rem;

    @include media-tablet {
        @include tablet-section-header;
        padding: 3rem 0rem 2.25rem 1.125rem;
    }

    @include media-desktop {
        padding-bottom: 0;
    }
  }

  &__label-container {
    display: none;
    align-items: center;

    @include media-tablet {
      display: flex;
      padding:0 1.125rem;
    }

    @include media-desktop {
        margin-left: 20rem;
        width: 75%;
    }
  }

  &__label {
    width: 25%;
    @include mobile-label-button;
    color: $bandsite-silver;
  }
}

.show {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  border-bottom: 1px solid $bandsite-mercury;

  @include media-tablet {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    padding: 1.5rem 1.125rem;
  }

  @include media-desktop {
    margin-left: 20rem;
    width: 75%;
  }

  &--active {
    background-color: $bandsite-mercury;
  }

  &__label {
    @include mobile-label-button;
    color: $bandsite-silver;
    padding-bottom: 4px;

    @include media-tablet {
      display: none;
    }
  }

  &__date {
    @include mobile-subheader;
    padding-bottom: 1rem;

    @include media-tablet {
      width: 25%;
      padding: 0;
    }
  }

  &__venue {
    @include mobile-body-copy;
    padding-bottom: 1rem;

    @include media-tablet {
      width: 25%;
      padding: 0;
    }
  }

  &__location {
    @include mobile-body-copy;
    padding-bottom: 1rem;

    @include media-tablet {
      width: 25%;
      padding: 0;
    }
  }

  &__button {
    height: 40px;
    background-color: $bandsite-black;
    border-radius: 4px;
    border: none;
    @include mobile-label-button;
    color: $bandsite-white;
    cursor: pointer;

    @include media-tablet {
      width: 25%;
    }
  }

  &__button:hover {
    background-color: $bandsite-dark-black;
  }
}

.show:not(.show--active):hover {
    background-color: $bandsite-alabaster;
}
